{{#each lines}}
  <div class="graph graph-{{from}}-{{to}}">
    <div class="durations">
      {{#each spans}}<span class="duration {{color}}" style="width: {{durationToWidth duration}}%;"></span>{{/each}}
    </div>
    <div class="marks">
      {{#each indicators}}<span class="{{classes}}" data-hour="{{hour}}">{{hour}}</span>{{/each}}
    </div>
  </div>
{{/each}}
