<p class="row text-row first disclosure touchable" id="crossing_name">{{crossing_name}}</p>
<p class="row statusrow {{status_class}}" id="status_message">{{status_message}}</p>
<p class="row text-row small" id="crossing_status">{{crossing_status}}</p>
<p class="row text-row small" id="train_status">{{train_status}}</p>

<div id='#adblock'></div>

<p class="status-alert">{{alert}}</p>
<p class="status-notice">{{notice}}</p>
